@import "../dotfiles-theme/current/.config/wlogout/theme.css";

window {
  font-family: "Terminess Nerd Font Propo", monospace;
  font-size: 12pt;
  background-image: linear-gradient(@wlogout_wallpaper_overlay, @wlogout_wallpaper_overlay), url("/home/a1exk/Pictures/wallpapers/everforest-forest-4k.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
  border-style: solid;
  border-width: 0.15rem;
  margin: 5px;
  border-radius: 1rem;
  font-weight: normal;
  transition: background-size 180ms ease-out, background-color 180ms ease-out, border-color 180ms ease-out, font-weight 180ms ease-out;
}

button:focus,
button:active,
button:hover {
  background-size: 30%;
  border-style: dashed;
  border-width: 0.1rem;
  font-weight: bold;
  outline-style: none;
}

#lock {
  background-image: -gtk-recolor(url("./icons/lock-symbolic.svg"));
}

#logout {
  background-image: -gtk-recolor(url("./icons/logout-symbolic.svg"));
}

#suspend {
  background-image: -gtk-recolor(url("./icons/suspend-symbolic.svg"));
}

#hibernate {
  background-image: -gtk-recolor(url("./icons/hibernate-symbolic.svg"));
}

#reboot {
  background-image: -gtk-recolor(url("./icons/reboot-symbolic.svg"));
}

#shutdown {
  background-image: -gtk-recolor(url("./icons/shutdown-symbolic.svg"));
}
