@import "../dotfiles-theme/current/.config/waybar/theme.css";

* {
	all: initial;
	font-family: "Terminess Nerd Font Propo", monospace;
	font-size: 0.9rem;
}

#waybar {
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-radius: 0.8rem;
}

#waybar>box {
	border-style: dashed;
	border-width: 1px;
	border-radius: 0;
	margin: 0.4rem;
	padding: 0.4rem 0;
	border-radius: 0.4rem;
}

tooltip {
	border-style: none;
	margin: 0;
	padding: 0;
}

tooltip label {
	margin: 0.4rem 0 0 0;
	padding: 0.8rem;
	border-style: dashed;
	border-width: 1px;
}

menu {
	border-style: dashed;
	border-width: 1px;
	padding: 0.4rem;
}

menu menuitem {
	padding: 0.4rem 0.8rem;
}

menu separator {
	margin: 0.3rem 0.5rem;
	min-height: 1px;
}

.waybar-bracket,
.waybar-bracket-left,
.waybar-bracket-right {
	font-size: 1.4rem;
	padding-bottom: 0;
	padding-top: 0;
}

#group-brightness,
#group-volume,
#group-battery,
#group-wireless,
#custom-workspaces,
#workspaces,
#language,
#clock,
#wireplumber,
#network,
#bluetooth,
#power-profiles-daemon,
#custom-privacy,
#custom-notifications,
#custom-wlogout,
#tray {
	border-right-style: dashed;
	border-right-width: 1px;
	margin: 0;
	padding: 0 0.8rem;
}

#waybar .modules-left>widget:last-child>* {
	border-right-style: none;
}

#waybar .modules-right>widget>* {
	border-right-style: none;
	border-left-style: dashed;
	border-left-width: 1px;
}

#waybar .modules-right>widget:first-child>* {
	border-left-style: none;
}

#custom-battery-icon,
#custom-brightness-icon,
#custom-volume-icon {
	padding-right: 0.25rem;
	padding-left: 0.8rem;
}

#group-wireless #network,
#group-wireless #bluetooth {
	border-right-style: none;
	margin: 0;
	padding: 0;
}

#group-wireless #network {
	padding-right: 0.25rem;
}

#group-wireless #bluetooth {
	padding-left: 0.25rem;
}

#clock.hours,
#clock.minutes {
	font-weight: bold;
}

#power-profiles-daemon {}

#custom-notifications.notifications-enabled {
	animation: none;
}

#custom-notifications.notifications-active {
	animation: notification-blink 0.7s ease-in-out infinite alternate;
}

#custom-brightness,
#custom-volume {
	padding-right: 0.8rem;
}

#custom-volume {
	border-right-style: dashed;
	border-right-width: 1px;
}

#clock.minutes {
	border-right-style: none;
}

/* #custom-battery-icon { */
/* 	font-size: 1.6rem; */
/* 	padding-right: 0.25rem; */
/* } */

#custom-battery-icon.battery-disconnected {}

#custom-battery-progress {
	padding-right: 0.8rem;
}

#workspaces>*,
#language>*,
#clock>*,
#wireplumber>*,
#group-volume>*,
#network>*,
#bluetooth>*,
#power-profiles-daemon>*,
#custom-notifications>*,
#tray>* {
	margin: 0;
	padding: 0;
}

#workspaces button {
	border-style: none;
	border-radius: 0;
	padding: 0 0.15rem;
}

#workspaces button.active {
	font-weight: bold;
}

#tray {
	padding: 0 0.8rem;
}

#tray>widget,
#tray image {
	margin: 0;
	min-height: 0;
	padding: 0;
}

#tray image {
	margin-top: 0.1rem;
	min-height: 0.9rem;
	min-width: 0.9rem;
}

#group-brightness>box,
#group-volume>box,
#group-battery>box,
#group-wireless>box {
	margin: 0;
	padding: 0;
}
