@import "./colors.css";

* {
	all: initial;
	font-family: "Terminess Nerd Font Propo", monospace;
	font-size: 0.9rem;
}

#waybar {
	background: alpha(@ef_bg_0, 0.9);
	border-top: 1px solid @ef_bg_2;
	border-bottom: 1px solid @ef_bg_2;
	color: @ef_foreground;
	border-radius: 0.8rem;
}

#waybar>box {
	border: 1px dashed @ef_yellow;
	border-radius: 0;
	margin: 0.4rem;
	padding: 0.4rem 0;
	border-radius: 0.4rem;
}

tooltip {
	border: none;
	margin: 0;
	padding: 0;
	background: transparent;
}

tooltip label {
	margin: 0.4rem 0 0 0;
	background: alpha(@ef_bg_0, 0.9);
	padding: 0.8rem;
	border: 1px dashed @ef_yellow;
	color: @ef_foreground;
}

.waybar-bracket,
.waybar-bracket-left,
.waybar-bracket-right {
	font-size: 1.4rem;
	padding-bottom: 0;
	padding-top: 0;
}

#group-brightness,
#group-volume,
#group-battery,
#group-wireless,
#custom-workspaces,
#workspaces,
#language,
#clock,
#wireplumber,
#network,
#bluetooth,
#power-profiles-daemon,
#custom-privacy,
#custom-notifications,
#custom-wlogout,
#tray {
	border-right: 1px dashed @ef_yellow;
	margin: 0;
	padding: 0 0.8rem;
}

#waybar .modules-left>widget:last-child>* {
	border-right: none;
}

#waybar .modules-right>widget>* {
	border-right: none;
	border-left: 1px dashed @ef_yellow;
}

#waybar .modules-right>widget:first-child>* {
	border-left: none;
}

#custom-battery-icon,
#custom-brightness-icon,
#custom-volume-icon {
	padding-right: 0.25rem;
	padding-left: 0.8rem;
}

#group-wireless #network,
#group-wireless #bluetooth {
	border-right: none;
	margin: 0;
	padding: 0;
}

#group-wireless #network {
	padding-right: 0.25rem;
}

#group-wireless #bluetooth {
	padding-left: 0.25rem;
}

#clock.hours,
#clock.minutes {
	font-weight: bold;
}

#wireplumber.mic {
	color: @ef_foreground;
}

#wireplumber.mic.muted,
#wireplumber.mic.source-muted {
	color: alpha(@ef_grey_0, 0.5);
}

#network.wifi {
	color: @ef_foreground;
}

#network.disconnected {
	color: alpha(@ef_grey_0, 0.5);
}

#network.disabled {
	color: alpha(@ef_grey_0, 0.5);
}

#bluetooth {
	color: alpha(@ef_blue, 0.5);
}

#bluetooth.connected {
	color: alpha(@ef_blue, 0.7);
}

#bluetooth.disabled,
#bluetooth.off {
	color: alpha(@ef_grey_0, 0.5);
}

#power-profiles-daemon {}

#power-profiles-daemon.performance {
	color: alpha(@ef_red, 0.7);
}

#power-profiles-daemon.balanced {
	color: alpha(@ef_blue, 0.7);
}

#power-profiles-daemon.power-saver {
	color: alpha(@ef_green, 0.7);
}

@keyframes notification-blink {
	from {
		color: alpha(@ef_red, 0.9);
	}

	to {
		color: alpha(@ef_red, 0.45);
	}
}

#custom-notifications.notifications-enabled {
	animation: none;
	color: alpha(@ef_yellow, 0.8);
}

#custom-notifications.notifications-active {
	animation: notification-blink 0.7s ease-in-out infinite alternate;
	color: alpha(@ef_red, 0.9);
}

#custom-notifications.notifications-disabled,
#custom-notifications.notifications-unavailable {
	color: alpha(@ef_grey_0, 0.5);
}

#custom-brightness,
#custom-volume {
	padding-right: 0.8rem;
}

#custom-volume {
	border-right: 1px dashed @ef_yellow;
}

#clock.minutes {
	border-right: none;
}

#custom-brightness-icon.brightness-high,
#custom-brightness.brightness-high {
	color: alpha(@ef_red, 0.5);
}

#custom-brightness-icon.brightness-medium,
#custom-brightness.brightness-medium {
	color: alpha(@ef_green, 0.5);
}

#custom-brightness-icon.brightness-low,
#custom-brightness.brightness-low {
	color: alpha(@ef_orange, 0.5);
}

#custom-volume-icon.volume-high,
#custom-volume.volume-high {
	color: alpha(@ef_red, 0.5);
}

#custom-volume-icon.volume-medium-high,
#custom-volume.volume-medium-high {
	color: alpha(@ef_orange, 0.5);
}

#custom-volume-icon.volume-medium,
#custom-volume.volume-medium {
	color: alpha(@ef_green, 0.5);
}

#custom-volume-icon.volume-low,
#custom-volume.volume-low {
	color: alpha(@ef_blue, 0.5);
}

#custom-volume-icon.volume-off,
#custom-volume.volume-off,
#custom-volume-icon.volume-muted,
#custom-volume.volume-muted {
	color: alpha(@ef_foreground, 0.5);
}

/* #custom-battery-icon { */
/* 	font-size: 1.6rem; */
/* 	padding-right: 0.25rem; */
/* } */

#custom-battery-icon.battery-disconnected {}

#custom-battery-progress {
	padding-right: 0.8rem;
}

#custom-battery-icon.battery-connected,
#custom-battery-progress.battery-connected {
	color: alpha(@ef_blue, 0.5);
}

#custom-battery-icon.battery-disconnected,
#custom-battery-progress.battery-disconnected {
	color: alpha(@ef_foreground, 0.5);
}

#custom-battery-icon.battery-level-4,
#custom-battery-progress.battery-level-4 {
	color: alpha(@ef_green, 0.5);
}

#custom-battery-icon.battery-level-3,
#custom-battery-progress.battery-level-3 {
	color: alpha(@ef_aqua, 0.5);
}

#custom-battery-icon.battery-level-2,
#custom-battery-progress.battery-level-2 {
	color: alpha(@ef_yellow, 0.5);
}

#custom-battery-icon.battery-level-1,
#custom-battery-progress.battery-level-1 {
	color: alpha(@ef_red, 0.5);
}

#custom-battery-icon.battery-full,
#custom-battery-progress.battery-full {
	color: alpha(@ef_green, 0.7);
}

#workspaces>*,
#language>*,
#clock>*,
#wireplumber>*,
#group-volume>*,
#network>*,
#bluetooth>*,
#power-profiles-daemon>*,
#custom-notifications>*,
#tray>* {
	margin: 0;
	padding: 0;
}

#workspaces button {
	background: transparent;
	border: none;
	border-radius: 0;
	color: alpha(@ef_foreground, 0.5);
	padding: 0 0.15rem;
}

#workspaces button.active {
	color: @ef_yellow;
	font-weight: bold;
}

#custom-workspaces {
	color: alpha(@ef_foreground, 0.5);
}

#tray {
	padding: 0 0.8rem;
}

#tray>widget,
#tray image {
	margin: 0;
	min-height: 0;
	padding: 0;
}

#tray image {
	margin-top: 0.1rem;
	min-height: 0.9rem;
	min-width: 0.9rem;
}

#custom-wlogout {
	color: alpha(@ef_red, 0.7);
}

#group-brightness>box,
#group-volume>box,
#group-battery>box,
#group-wireless>box {
	margin: 0;
	padding: 0;
}
