@import "./colors.css";

window#waybar {
	background: alpha(@ef_bg_0, 0.9);
	border-top: 1px solid @ef_bg_2;
	border-bottom: 1px solid @ef_bg_2;
	color: @ef_foreground;
	border-radius: 0.8rem;
	font-family: "Terminess Nerd Font Mono", "Terminess Nerd Font", monospace;
	font-size: 0.9rem;
}

window#waybar>box {
	border: 1px dashed @ef_yellow;
	border-radius: 0;
	margin: 0.4rem;
	padding: 0.4rem 0;
	border-radius: 0.4rem;
}

tooltip {
	border: none;
	margin: 0;
	padding: 0;
	background: transparent;
}

tooltip label {
	margin: 0.4rem 0 0 0;
	background: alpha(@ef_bg_0, 0.9);
	padding: 0.8rem;
	border: 1px dashed @ef_yellow;
	color: @ef_foreground;
}

.waybar-bracket,
.waybar-bracket-left,
.waybar-bracket-right {
	font-size: 1.4rem;
	padding-bottom: 0;
	padding-top: 0;
}

#group-brightness,
#group-battery,
#workspaces,
#clock,
#pulseaudio,
#network,
#power-profiles-daemon,
#tray {
	border-right: 1px dashed @ef_yellow;
	margin: 0;
	padding: 0 0.8rem;
}

#custom-battery-icon,
#custom-brightness-icon {
	font-size: 1.6rem;
	padding-right: 0.25rem;
	padding-left: 0.8rem;
}

#power-profiles-daemon {
	font-size: 1.6rem;
}

#power-profiles-daemon.performance {
	color: alpha(@ef_red, 0.7);
}

#power-profiles-daemon.balanced {
	color: alpha(@ef_blue, 0.7);
}

#power-profiles-daemon.power-saver {
	color: alpha(@ef_green, 0.7);
}

#custom-brightness {
	padding-right: 0.8rem;
	border-right: 1px dashed @ef_yellow;
}

#custom-brightness-icon.brightness-high,
#custom-brightness.brightness-high {
	color: alpha(@ef_red, 0.5);
}

#custom-brightness-icon.brightness-medium,
#custom-brightness.brightness-medium {
	color: alpha(@ef_green, 0.5);
}

#custom-brightness-icon.brightness-low,
#custom-brightness.brightness-low {
	color: alpha(@ef_orange, 0.5);
}

/* #custom-battery-icon { */
/* 	font-size: 1.6rem; */
/* 	padding-right: 0.25rem; */
/* } */

#custom-battery-icon.battery-disconnected {
	font-size: 1rem;
}

#custom-battery-progress {
	padding-right: 0.25rem;
}

#custom-battery-info {
	padding-left: 0.25rem;
	padding-right: 0.8rem;
}

#custom-battery-icon.battery-connected,
#custom-battery-progress.battery-connected,
#custom-battery-info.battery-connected {
	color: alpha(@ef_blue, 0.5);
}

#custom-battery-icon.battery-disconnected,
#custom-battery-progress.battery-disconnected,
#custom-battery-info.battery-disconnected {
	color: alpha(@ef_foreground, 0.5);
}

#custom-battery-icon.battery-level-4,
#custom-battery-progress.battery-level-4,
#custom-battery-info.battery-level-4 {
	color: alpha(@ef_green, 0.5);
}

#custom-battery-icon.battery-level-3,
#custom-battery-progress.battery-level-3,
#custom-battery-info.battery-level-3 {
	color: alpha(@ef_aqua, 0.5);
}

#custom-battery-icon.battery-level-2,
#custom-battery-progress.battery-level-2,
#custom-battery-info.battery-level-2 {
	color: alpha(@ef_yellow, 0.5);
}

#custom-battery-icon.battery-level-1,
#custom-battery-progress.battery-level-1,
#custom-battery-info.battery-level-1 {
	color: alpha(@ef_red, 0.5);
}

#custom-battery-icon.battery-full,
#custom-battery-progress.battery-full,
#custom-battery-info.battery-full {
	color: alpha(@ef_green, 0.7);
}

#workspaces>*,
#clock>*,
#pulseaudio>*,
#network>*,
#power-profiles-daemon>*,
#tray>* {
	margin: 0;
	padding: 0;
}

#tray {
	border-right: none;
}

#group-brightness>box,
#group-battery>box {
	margin: 0;
	padding: 0;
}
