@define-color ef_foreground #d3c6aa;
@define-color ef_red #e67e80;
@define-color ef_yellow #dbbc7f;
@define-color ef_green #a7c080;
@define-color ef_blue #7fbbb3;
@define-color ef_purple #d699b6;
@define-color ef_orange #e69875;
@define-color ef_bg_dim #1e2326;
@define-color ef_bg_0 #272e33;
@define-color ef_bg_1 #2e383c;
@define-color ef_bg_2 #374145;
@define-color ef_bg_red #493b40;
@define-color ef_bg_yellow #45443c;
@define-color ef_bg_green #3c4841;
@define-color ef_bg_blue #384b55;
@define-color ef_bg_purple #463f48;

* {
	background-image: none;
	box-shadow: none;
	font-family: "Terminess Nerd Font Propo", monospace;
	text-shadow: none;
}

window {
	background-color: alpha(@ef_bg_dim, 0.96);
}

button {
	background-color: alpha(@ef_bg_0, 0.92);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 44%;
	border: 1px solid @ef_bg_2;
	border-radius: 0;
	color: transparent;
	font-size: 0;
	margin: 0;
	outline-style: none;
	padding: 0;
	text-decoration: none;
}

button label {
	color: transparent;
	font-size: 0;
	margin: 0;
	padding: 0;
}

button:focus,
button:active,
button:hover {
	background-color: alpha(@ef_bg_1, 0.96);
	color: @ef_yellow;
	outline: 1px dashed @ef_yellow;
	outline-offset: -0.8rem;
}

#lock {
	background-image: url("icons/lock.svg");
}

#lock:focus,
#lock:active,
#lock:hover {
	background-color: alpha(@ef_bg_blue, 0.96);
	outline: 1px dashed @ef_blue;
}

#hibernate {
	background-image: url("icons/hibernate.svg");
}

#hibernate:focus,
#hibernate:active,
#hibernate:hover {
	background-color: alpha(@ef_bg_purple, 0.96);
	outline: 1px dashed @ef_purple;
}

#logout {
	background-image: url("icons/logout.svg");
}

#logout:focus,
#logout:active,
#logout:hover {
	background-color: alpha(@ef_bg_yellow, 0.96);
	outline: 1px dashed @ef_yellow;
}

#shutdown {
	background-image: url("icons/shutdown.svg");
}

#shutdown:focus,
#shutdown:active,
#shutdown:hover {
	background-color: alpha(@ef_bg_red, 0.96);
	outline: 1px dashed @ef_red;
}

#suspend {
	background-image: url("icons/suspend.svg");
}

#suspend:focus,
#suspend:active,
#suspend:hover {
	background-color: alpha(@ef_bg_green, 0.96);
	outline: 1px dashed @ef_green;
}

#reboot {
	background-image: url("icons/reboot.svg");
}

#reboot:focus,
#reboot:active,
#reboot:hover {
	background-color: alpha(@ef_bg_yellow, 0.96);
	outline: 1px dashed @ef_orange;
}
