window {
  font-family: "Terminess Nerd Font Propo", monospace;
  font-size: 12pt;
  color: #d3c6aa;
  background-color: rgba(30, 35, 38, 0.9);
  background-image: linear-gradient(rgba(30, 35, 38, 0.78), rgba(30, 35, 38, 0.78)), url("/home/a1exk/Pictures/wallpapers/everforest-forest-4k.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
  border-style: solid;
  border-width: 0.15rem;
  background-color: rgba(39, 46, 51, 0.55);
  border-color: rgba(122, 132, 120, 0.45);
  color: #d3c6aa;
  margin: 5px;
  border-radius: 1rem;
  font-weight: normal;
  transition: background-size 180ms ease-out, background-color 180ms ease-out, border-color 180ms ease-out, font-weight 180ms ease-out;
}

button:focus,
button:active,
button:hover {
  background-color: rgba(46, 56, 60, 0.78);
  background-size: 30%;
  border-color: #dbbc7f;
  font-weight: bold;
  outline-style: none;
}

#lock {
  background-image: image(url("./icons/lock.svg"));
}

#logout {
  background-image: image(url("./icons/logout.svg"));
}

#suspend {
  background-image: image(url("./icons/suspend.svg"));
}

#hibernate {
  background-image: image(url("./icons/hibernate.svg"));
}

#reboot {
  background-image: image(url("./icons/reboot.svg"));
}

#shutdown {
  background-image: image(url("./icons/shutdown.svg"));
}
